@import 'variables';

#hero {
    padding-bottom: 1.5rem;

    @media only screen and (min-width: 768px) {
        padding-bottom: 2.5rem;
    }

    @media only screen and (min-width: 1440px) {
        padding-bottom: 1.875rem;
    }

    & > div.container {
        overflow: hidden;
        position: relative;
        display: grid;
        grid-template-columns: 1;
        row-gap: 4rem;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            row-gap: 0;
            padding-bottom: 2.5rem;
        }

        @media only screen and (min-width: 768px) and (max-width: 1439px) {
            align-items: center;
        }

        & > .text-wrapper {
            @media only screen and (min-width: 768px) {
            }

            @media only screen and (min-width: 1440px) {
                padding-top: 3.75rem;
                padding-right: 7.8125rem;
            }

            & > p {
                margin-block: 2rem;

                @media only screen and (min-width: 768px) {
                    margin-top: 2.125rem;
                    margin-bottom: 2.5rem;
                }

                @media only screen and (min-width: 1440px) {
                    margin-top: 1.5rem;
                }
            }

            > div {
                display: flex;
                align-items: center;
                column-gap: 2rem;

                @media only screen and (min-width: 768px) {
                    column-gap: 2.3125rem;
                }

                @media only screen and (min-width: 1440px) {
                    column-gap: 2.5rem;
                }

                > p {
                    font-size: 1rem;
                    line-height: 1.625rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $blue;
                }

                > button {
                    justify-self: start;
                }
            }
        }

        > picture {
            margin-right: -2.8125rem;

            @media only screen and (min-width: 768px) {
                margin-right: -12.3125rem;
                margin-left: 4.3125rem;
            }

            @media only screen and (min-width: 1440px) {
                margin: 0;
            }

            > img {
                border-radius: 1.25rem;
            }
        }

        &::before {
            display: none;
            content: '';
            position: absolute;
            background-color: $light-blue;
            top: 0;
            right: -7.5rem;
            width: 15.9375rem;
            height: 15rem;
            border-radius: 1.25rem;

            @media only screen and (min-width: 1440px) {
                display: block;
            }
        }
    }
}
